<div id="myCard" class="card-group myCard">
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/lavazza-crema-e-gusto.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Crema e Gusto Espresso</h5>
        <p class="card-text">A dark-roasted espresso blend, Lavazza Crema E Gusto has a distinctly bold flavor. A special blend of Indian and Brazilian beans, this Lavazza coffee reveals rich, chocolaty undertones that are accentuated by a full-bodied mouthfeel. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/lavazza-oro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Qualitá Oro</h5>
        <p class="card-text">Lavazza Qualita Oro 100% Arabica Medium Roast is a full bodied coffee that is smooth and aromatic roasted in the traditional style in Italy.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/lavazza-rossa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Qualitá Rossa</h5>
        <p class="card-text">Qualita Rossa is a medium-light roasted espresso best known for its unique and heavy, velvety mouthfeel. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
