<div id="myCard" class="card-group myCard">
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza-Classico-Premium.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Classico Premium Drip Coffee</h5>
        <p class="card-text">If you’re looking for a reliable everyday coffee, give Lavazza Classico a try. While its medium roast is slightly darker than Gran Aroma’s, this rich blend is still surprisingly balanced and is ideal for preparation with a French press or drip coffee maker.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza-Gran-Filtro.jpg" alt="Card image cap">
      <div class="card-body" style="display: grid;">
        <h5 class="card-title">Lavazza Filtro Classico Whole Bean Drip Coffee</h5>
        <p class="card-text">An imaginative blend of African and South American Arabica, Lavazza Filtro Classico delivers an intense, yet sweet, coffee with spicy aromas that are second to none.</p>
        <a style="justify-self: center;" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza-Gran-Selezione.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Gran Selezione Premium Drip Coffee</h5>
        <p class="card-text">Intense and chocolaty, Lavazza’s Gran Selezione premium drip coffee is known for its chocolate undertones and full-bodied taste.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>