<mat-toolbar  color="accent" role="header" class="flexToolbar">
    <button mat-icon-button (click)="menuButtonClick.emit()"><mat-icon>menu</mat-icon></button>
    <button mat-button class="toolbarItem">ask</button>
    <button mat-button (click)="response()" [disabled]="!user" class="toolbarItem">response</button>
    <span class="toolbarLastItem"></span>
    <ng-container *ngIf="!!user">
        <button mat-button (click)="logout()" class="toolbarItem">logout {{user.username}}</button>
    </ng-container>
    <ng-container *ngIf="!user">
        <button mat-button (click)="openDialog('login')" class="toolbarItem">login</button>
        <button mat-button (click)="openDialog('signup')" class="toolbarItem">sing up</button>
    </ng-container>
</mat-toolbar>
<router-outlet name="toolbar2"></router-outlet>



