.flexToolbar {
    display: flex;
    height: 50px;
}
.toolbarItem {
    flex: 0 1 auto;
}
.toolbarLastItem {
    flex: 1 1 auto;
}
.floating{
    position: relative;
    z-index: 10;
    left: 100px;
}
  
.example-card {
    width: 400px;
}
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}