<div id="myCard" class="card-group myCard">
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza Super Crema.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Super Crema Whole Bean Espresso Coffee</h5>
        <p class="card-text">For those who want a robust espresso without the bitter aftertaste. A superior coffee with a thick, rich crema.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza Grand Expresso.jpg" alt="Card image cap">
      <div class="card-body" style="display: grid;">
        <h5 class="card-title">Lavazza Grand Espresso Coffee</h5>
        <p class="card-text">A full-bodied flavor with chocolate undertones. Perfect for espresso-based lattes, cappuccinos and other coffee drinks.</p>
        <a style="justify-self: center;" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <img class="card-img-top" src="../assets/Lavazza Pienaorma Expresso.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lavazza Pienaroma Espresso Blend</h5>
        <p class="card-text">A medium roast, 100% Arabica blend, Lavazza's top-shelf blend is a harmonic cocktail that produces a full-bodied aroma & a smooth flavor typical of Italian tradition.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
