.container{
    display: grid;
    grid-template: 100%/100%;
}
.base {
    grid-area: 1/1;
}
.spinner-backgr { /* permite dar opacidad solo al fondo, el texto sigue sin transparencia */
    grid-area: 1/1;
    z-index: 1;
    opacity: .5;
    background-color:whitesmoke;
}
.spinner-foregr{      
    grid-area: 1/1;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-color: transparent;
}
