<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="loginForm" novalidate>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="username" placeholder="username" [(ngModel)]="data.username">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="password" [(ngModel)]="data.password">
        </mat-form-field>
        </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data" [disabled]="loginForm.invalid" cdkFocusInitial>Ok</button>
    </div>
  </form>