.example-card {
    width: 400px;
    margin: auto;
    margin-bottom: 100%;
}
  
.example-header-image {
    background-image: url('https://www.smithsnurseries.com/image/cache/data/chileanteal-500x500.jpg');
    background-size: cover;
}