<mat-card class="example-card cardIn">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>South American duck</mat-card-title>
        <mat-card-subtitle>Chilean Teal</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.smithsnurseries.com/image/cache/data/chileanteal-500x500.jpg" alt="Photo of a Domestic Cat">
    <mat-card-content>
        <p>
            southern South America as far north as southern Brazil and northern Argentina. Also in the Falkland Islands.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
