// .container2 {
//   display: grid;
//   grid-template: 50px 50px 1fr/100%;
//   // position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .toolbar {
//   grid-area: 1/1/span 2/span 1;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 5;
// }

// .sidenav-container {
//   grid-area: 3/1/span 1/span 1;
//   overflow: auto; //scroll if needed
//   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//   z-index: 1;
// }
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
