<mat-toolbar>
    <ng-container *ngIf="!!userLoggedIn">
        <button mat-button (click)="logout()">logout {{userLoggedIn.username}}</button>
    </ng-container>
    <ng-container *ngIf="!userLoggedIn">
        <button mat-button (click)="openDialog('login')">login</button>
    </ng-container>
    <button [disabled]="!!userLoggedIn" mat-button (click)="openDialog('signup')">sing up</button>
    <button mat-button (click)="ask()">Ask</button>
    <button mat-button (click)="response()" [disabled]="!userLoggedIn">Response</button>
</mat-toolbar>
<div *ngIf="expressRes">
    {{expressRes.body}}
</div>
