.container {
  display: grid;
  grid-template: 50px 50px 1fr/100%;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  grid-area: 1/1/span 2/span 1;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 5;
}

// .toolbar2 {
//   grid-area: 2/1/span 1/span 1;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 3;
// }

.sidenav-container {
  grid-area: 3/1/span 1/span 1;
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  z-index: 2;
}


