.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 5;
  margin-bottom: 0px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
  z-index: 2;
}

// .example-is-mobile .example-sidenav-container {
//   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
//      `<body>` to be our scrolling element for mobile layouts. */
//   flex: 1 0 auto;
//   z-index: 2;
// }
