<nav class="navbar navbar-expand-lg navbar-light toolbar2 py-0" role="navigation" id="toolbar2.nav" [class.fixed-top]="showBrand">
  <div class="collapse multi-collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav d-flex flex-sm-column flex-md-row justify-content-center align-items-stretch">
      <li class="nav-item px-sm-0 px-md-5 py-0" (mouseout)="hideCard($event)">
        <a class="nav-link" href="#" (mouseenter)="showModal.emit('card1')">primero</a>
      </li>
      <li class="nav-item px-sm-0 px-md-5 py-0">
        <a class="nav-link" href="#" (mouseenter)="showModal.emit('card2')" (mouseout)="hideCard($event)">segundo</a>
      </li>
      <ng-container *ngIf="showBrand">
        <a class="navbar-brand px-sm-0 px-md-5 py-0" href="#" style="font-family:'';">Mi Empresa</a>
      </ng-container>
      <li class="nav-item px-sm-0 px-md-5 py-0">
        <a class="nav-link" href="#" (mouseenter)="showModal.emit('card3')" (mouseout)="hideCard($event)">tercero</a>
      </li>
      <li class="nav-item px-sm-0 px-md-5 py-0">
        <a class="nav-link disabled" href="#">cuarto</a>
      </li>
    </ul>
  </div>
</nav>