<div class="container">
    <div id="card0" class="card0 menu-item"></div>
    <div id="card1" class="card1 menu-item" (mouseenter)="showCard($event)" (mouseleave)="hideCard($event)"><div>primero</div></div>
    <div id="card2" class="card2 menu-item" (mouseenter)="showCard($event)" (mouseleave)="hideCard($event)">segundo</div>
    <div id="card3" class="card3 menu-item" (mouseenter)="showCard($event)" (mouseleave)="hideCard($event)">tercero</div>
    <div id="card4" class="card4 menu-item">cuarto</div>
    <div id="card5" class="card5 menu-item"></div>
    <div class="backcard"></div>
    <div class="opcioncard" (mouseleave)="hideCard($event)">
        <router-outlet name="cards"></router-outlet>
    </div>
</div>

