<nav class="navbar sticky-top navbar-expand-lg navbar-light toolbar2" role="navigation" id="hola">
  <div class="collapse multi-collapse navbar-collapse" id="navbarSupportedContent2">
  <ul class="navbar-nav d-flex flex-sm-column flex-md-row justify-content-center align-items-stretch">
    <li class="nav-item px-sm-0 px-md-2">----------------------------</li>
    <li class="nav-item px-sm-0 px-md-2" (mouseleave)="hideCard($event)">
      <a class="nav-link" href="#" (mouseenter)="showModal.emit()" >primero</a>
    </li>
    <li class="nav-item px-sm-0 px-md-2">
      <a class="nav-link" href="#" (mouseenter)="showModal.emit()" (mouseleave)="hideCard($event)">segundo</a>
    </li>
    <li class="nav-item px-sm-0 px-md-2">
      <a class="nav-link" href="#" (mouseenter)="showModal.emit()" (mouseleave)="hideCard($event)">tercero</a>
    </li>
    <li class="nav-item px-sm-0 px-md-2">
      <a class="nav-link disabled" href="#">cuarto</a>
    </li>
    <li class="nav-item px-sm-0 px-md-2">----------------------------</li>
  </ul>
</div>
</nav>
<!-- <div class="col">
  <mat-toolbar color="accent" role="header" class="container3 row">
    <div id="card0" class="col"></div>
    <div id="card1" class="col" (mouseenter)="showModal.emit()" (mouseleave)="hideCard($event)">primero</div>
    <div id="card2" class="col" (mouseenter)="showModal.emit()" (mouseleave)="hideCard($event)">segundo</div>
    <div id="card3" class="col" (mouseenter)="showModal.emit()" (mouseleave)="hideCard($event)">tercero</div>
    <div id="card4" class="col">cuarto</div>
    <div id="card5" class="col"></div>
  </mat-toolbar>
</div> -->

