<mat-card class="example-card cardIn">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Domestic Cat</mat-card-title>
        <mat-card-subtitle>Cat Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.guim.co.uk/img/media/38f0b888fb66c79a3e87c991c6f4f56864da01cc/0_124_4909_2945/master/4909.jpg?w=460&q=55&auto=format&usm=12&fit=max&s=82884f170149c9d73c325c492b3bdf65" alt="Photo of a Domestic Cat">
    <mat-card-content>
        <p>
            They are often called house cats[6] when kept as indoor pets or simply cats when
             there is no need to distinguish them from other felids and felines..
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
