.example-card {
    width: 400px;
}
  
.example-header-image {
    background-image: url('https://i.guim.co.uk/img/media/38f0b888fb66c79a3e87c991c6f4f56864da01cc/0_124_4909_2945/master/4909.jpg?w=460&q=55&auto=format&usm=12&fit=max&s=82884f170149c9d73c325c492b3bdf65');
    background-size: cover;
}